{{ $page := .page }}{{ $src := .src | default $page.Params.image }}{{ $alt := .alt | default $page.Params.image_alt | default "" }}
{{ $image := $page.Resources.GetMatch $src | default (resources.Get $src) }}
{{ if $image }}
  {{ $loading := "lazy" }}{{ if .eager }}{{ $loading = "eager" }}{{ end }}
  {{ if eq $image.MediaType.SubType "svg" }}
    {{ $width := .width | default 900 }}{{ $height := .height | default 650 }}
    {{ range findRESubmatch `<svg[^>]*width="([0-9]+)"[^>]*height="([0-9]+)"` $image.Content 1 }}
      {{ $width = index . 1 }}{{ $height = index . 2 }}
    {{ end }}
    <img
      src="{{ $image.RelPermalink }}"
      alt="{{ $alt }}"
      width="{{ $width }}"
      height="{{ $height }}"
      loading="{{ $loading }}"
      decoding="async"
      {{ if .eager }}fetchpriority="high"{{ end }}
    />
  {{ else }}
    {{ $large := $image.Resize (printf "%dx webp q82" (int (math.Min 1200 $image.Width))) }}
    {{ $small := $large }}{{ if gt $image.Width 600 }}
      {{ $small = $image.Resize "600x webp q80" }}
    {{ end }}
    <img
      src="{{ $large.RelPermalink }}"
      srcset="{{ $small.RelPermalink }} {{ $small.Width }}w, {{ $large.RelPermalink }} {{ $large.Width }}w"
      sizes="{{ .sizes | default "(max-width: 700px) 100vw, 50vw" }}"
      width="{{ $large.Width }}"
      height="{{ $large.Height }}"
      alt="{{ $alt }}"
      loading="{{ $loading }}"
      decoding="async"
      {{ if .eager }}fetchpriority="high"{{ end }}
    />
  {{ end }}
{{ else }}
  {{ errorf "Missing image %q on %s" $src $page.Path }}
{{ end }}
